@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap");

body {
  font-family: "Nunito", sans-serif;
  background-color: #091353;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  min-width: 20vw;
  max-width: 90vw;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: coral;
  padding: 10px 30px;
}
.errors {
  width: 290px;
  margin: 0 auto;
}
